* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}
body {
  background-color: #23252C;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  margin: 80px auto;
  width: 630px;
  border: 2px solid #23252C;
  min-height: 70vh;
  min-width: 450px;
  text-align: center;
  border-radius: 10px;
  background: #1A1B21;
  
}

.header {
  margin-top: 0;
}
img {
  height: 500px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.name {
  color: #fff;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 40px;
}

.title {
  color: #F3BF99;
  margin-top: 25px;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
}

.contact-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.header > .contact-buttons > a > button {
  display: inline-block;
  width: 80%;
  border: none;
  border-radius: 5px;
  margin: auto 30px;
  padding: 14px 28px;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  letter-spacing: 3px;
}

.header > .contact-buttons > a > button > img{
  width: 20px;
  height: 20px;
  margin-right: 25px;
}


.button2 {
  background: #5093E2;
  color: #fff;
}

.button2 > a {
  color: #fff;
}

.about {
  margin: 50px 60px;
  text-align: left;
  color: #fff
}

.interest {
  margin: 50px 60px;
  text-align: left;
  color: #fff
}

.details {
  margin-top: 15px;
  line-height: 25px;
  letter-spacing: 0.8px;
}

.footer {
  margin-top: 20px;
  background: #161619;
  height: 65px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-around;
  padding: 15px 20px 20px 20px;
}

.footer > a > img {
  width: 40px;
  height: 40px;
}
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */